extends layout

block content
    section#cover
        .container
            .row
                .col-md-8.mx-auto
                    div#center
                        img.img-fluid.mx-auto(src='/images/logo.svg')
                        h1.text-muted.text-center GARDENERS

    section#bitrain
        .container
            .row
                .col-md-6
                    h2 Bitrain
                    p.text-justify

                        | Lorem ipsum dolor sit amet, consectetuer iielit,
                        | sed diam nonummy nibh euismod tincidunt u laoreet
                        | dolore magna aliquam era t volutpat. iUt wisi enim ad minim veniam,
                        | quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                        | aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                        | in hendrerit in vulputate velit esse molestie consequat,


                .col-md-6
                    .row
                        .col
                        .col
                            img.img-fluid.mx-auto.d-block.mt-4(src="/images/bitrain.svg")

                        .col
    section#promobloom
        .container
            .row
                .col-md-6
                        h2 Promobloom
                        p.text-justify

                            | Lorem ipsum dolor sit amet, consectetuer iielit,
                            | sed diam nonummy nibh euismod tincidunt u laoreet
                            | dolore magna aliquam era t volutpat. iUt wisi enim ad minim veniam,
                            | quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                            | aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                            | in hendrerit in vulputate velit esse molestie consequat,

                .col-md-6
                    .row
                        .col
                        .col
                            img.img-fluid.mx-auto.d-block.mt-2(src="/images/promobloom.svg")
                        .col

    section#consultree
        .container
            .row
                .col-md-6
                    h2 Consultree
                    p.text-justify

                        | Lorem ipsum dolor sit amet, consectetuer iielit,
                        | sed diam nonummy nibh euismod tincidunt u laoreet
                        | dolore magna aliquam era t volutpat. iUt wisi enim ad minim veniam,
                        | quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                        | aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                        | in hendrerit in vulputate velit esse molestie consequat,


                .col-md-6
                    .row
                        .col
                        .col
                            img.img-fluid.mx-auto.d-block.mt-4(src="/images/consultree.svg")

                        .col
    section#trainfountain
        .container
            .row
                .col-md-6
                        h2 Trainfountain
                        p.text-justify

                            | Lorem ipsum dolor sit amet, consectetuer iielit,
                            | sed diam nonummy nibh euismod tincidunt u laoreet
                            | dolore magna aliquam era t volutpat. iUt wisi enim ad minim veniam,
                            | quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                            | aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                            | in hendrerit in vulputate velit esse molestie consequat,

                .col-md-6
                    .row
                        .col
                        .col
                            img.img-fluid.mx-auto.d-block.mt-2(src="/images/trainfountain.svg")
                        .col

    section#wonderbeans
        .container
            .row
                .col-md-12
                    .row
                        .col
                        .col
                            img.img-fluid.mx-auto.d-block.mb-5(src="/images/wonderbeans.svg")
                        .col
                    .row.justify-content-center
                        .col-md-8.col-md-offset-2
                            h2.text-center Wonderbeans

                            p.text-justify

                                | Lorem ipsum dolor sit amet, consectetuer iielit,
                                | sed diam nonummy nibh euismod tincidunt u laoreet
                                | dolore magna aliquam era t volutpat. iUt wisi enim ad minim veniam,
                                | quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                                | aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                                | in hendrerit in vulputate velit esse molestie consequat,

    section#customer.mt-5
        .container
            .row.justify-content-center
                h3.text-center.text-primary.mt-5  Our Customer

            .row.justify-content-center
                .col-md-8.col-md-offet-2
                    p.mt-5.text-justify
                        | Lorem ipsum dolor sit amet, consectetuer iielit,
                        | sed diam nonummy nibh euismod tincidunt u laoreet
                        | dolore magna aliquam era t volutpat. iUt wisi enim ad minim veniam,
                        | quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                        | aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                        | in hendrerit in vulputate velit esse molestie consequat,

            .row.justify-content-center
                .owl-carousel.col-md-6
                   div
                       img.mx-auto.d-block(src="/images/Bank_Melli_Iran.png")
                   div
                       img.mx-auto.d-block(src="/images/incc-logo-LimooGraphic-1.png")
                   div
                       img.mx-auto.d-block(src="/images/bernatti.png")
                   div
                       img.mx-auto.d-block(src="/images/logo12454545.png")
                   div
                       img.mx-auto.d-block(src="/images/mahsun logo MSAPH.png")
