extends layout

block content
  section#cover
    .container
      .row
          .col-md-8.mx-auto
              div#center
                img.img-fluid.mx-auto(src='/images/logo.svg')
                h1.text-muted.text-center GARDENERS

  section#bitrain
    .container
        .row
